name: PR Build

on:
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  build:
    name: Build Xbox Game Bar Samples
    runs-on: windows-2019
    
    strategy:
      max-parallel: 4
      matrix:
        include:
          - platform: x64
            configuration: Release
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: 'latest'
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Restore NuGet packages
      run: nuget restore **/*.sln -ConfigFile Samples\Build\nuget.config
      
    - name: Build solution
      run: |
        msbuild **/*.sln `
          /p:Platform="${{ matrix.platform }}" `
          /p:Configuration="${{ matrix.configuration }}" `
          /p:AppxBundlePlatforms="${{ matrix.platform }}" `
          /p:AppxPackageDir="${{ github.workspace }}\AppPackages\" `
          /p:AppxBundle=Never `
          /p:UapAppxPackageBuildMode=SideloadOnly `
          /p:AppxPackageSigningEnabled=false
